<h1>All your lists here</h1>

<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category"> <%= link_to list.name, list_path(list)%></div>
  <% end %>
</div>

<div class="btn btn-dark"><%= link_to "Create a new list", new_list_path(@list) %></div>
